body{
    background-color: black;
    font-family: montserrat;
    color: white;
    width: 400px;
    margin: auto;
}

.card{
background-color: purple;
text-align: center;
margin-top: 50px;
}

h1{
    padding: 5px;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 800;
    font-size: 23px;

}

h2{
    font-size: 15;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}
p{
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    background-color: darkorchid;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 13px;
}